@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100vh;
}

.menu{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 100vh;
	background-color: gray;
	float: left;
	overflow: hidden;
}

.menu:hover{
	width: 200px;	
	transition: 0.5s;
}

.menu-item{
	width: 190px;
	margin: 5px;
	background-color: black;
	color: orange;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 5px;
	overflow: hidden;
}

.menu-item i{
	margin-top: -5px;
	margin-right: 10px;
	vertical-align: middle;
}

.menu-item:hover{
	width: 190px;
	height: 50px;
	margin: 5px;
	background-color: orange;
	color: black;
	box-sizing: border-box;
	border-radius: 10px;
}

.main{
	margin-left: 50px;
	width: calc(100% - 50px);
	height: 100vh;
	background-color: #FFF5EE;
	float: right;
}

.article{
	width: calc(100% - 20px);
	min-height: calc(100vh - 20px);
	height: auto;
	margin: 10px;
	box-sizing: border-box;
}

h1{
	margin-top: 0;
}

.box{
	width: 80px;
	height: 80px;
	padding: 5px 10px 15px 10px;
	margin: 120px;
	text-align: center;
	line-height: 100px;
	border-radius: 40%;
	overflow: hidden; 
	transition: 0.5s;
	border: 0px;
	background-color: yellow;
	float:left;
	font-size: small;
	font-weight: bold;
}

.box:hover{
	font-weight: bolder;
	margin: 0px;
	width: 160px;
	height: 160px;
	line-height: 100px;
	transition: 0.4s;
	border-radius: 20px;
	margin: 80px;
}

#comment{
	width: 100%;
	height: 100px;
	padding: 5px 5px 20px 5px;
	line-height: 30px;
	overflow: visible;
	animation: fadeInUp 1s;
}

















